@media (min-width: 490px) {
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 33vh;
  background-color: #1c1e22; 
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 58%;
  padding: 20px;
}
.pic-info-card {
  width: 250px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #242424;
}

.pic-info-image img {
  width: 100%;
  height: auto;
  display: block;
}

.pic-info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #242424;
  
}

.pic-info-details h3 {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 4px;
}

.pic-info-details p {
  font-size: 0.875rem;
  color: #777;
}

.pic-info-button {
  background-color: #00ff9e;
  border: none;
  padding: 17px 17px;
  font-size: 0.875rem;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 66%;
} 
 
}

@media (max-width: 480px) {
  * {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    /* min-height: 33vh; */
    background-color: #1c1e22; 
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    max-width: 88%;
    padding: 20px;
  }
  .pic-info-card {
    width: 96px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #242424;
  }
  
  .pic-info-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .pic-info-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #242424;
    
  }
  
  .pic-info-details h3 {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 4px;
  }
  
  .pic-info-details p {
    font-size: 0.875rem;
    color: #777;
  }
  
  .pic-info-button {
    background-color: #00ff9e;
    border: none;
    padding: 12px 12px;
    font-size: 0.875rem;
    border-radius: 4px;
    cursor: pointer;
    /* margin-left: 50%; */
  } 
}