<body>
  <div class="card-container">
    <div class="pic-info-card">
      <div class="pic-info-image">
        <img src="assets/actionbtn/info/player.png" alt="Card Image">
      </div>
      <div class="pic-info-content">
        <button class="pic-info-button">Explore</button>
      </div>
    </div>
    <div class="pic-info-card">
      <div class="pic-info-image">
        <img src="assets/actionbtn/info/team.png" alt="Card Image">
      </div>
      <div class="pic-info-content">
        <button class="pic-info-button">Explore</button>
      </div>
    </div>
    <div class="pic-info-card">
      <div class="pic-info-image">
        <img src="assets/actionbtn/info/cup.png" alt="Card Image">
      </div>
      <div class="pic-info-content">

        <button class="pic-info-button">Explore</button>
      </div>
    </div>
    <div class="pic-info-card">
      <div class="pic-info-image">
        <img src="assets/actionbtn/game/freefire.png" alt="Card Image">
      </div>
      <div class="pic-info-content">
        
        <button class="pic-info-button">Explore</button>
      </div>
    </div>
    <div class="pic-info-card">
      <div class="pic-info-image">
        <img src="assets/actionbtn/game/pubg.png" alt="Card Image">
      </div>
      <div class="pic-info-content">
        
        <button class="pic-info-button">Explore</button>
      </div>
    </div>
    <div class="pic-info-card">
      <div class="pic-info-image">
        <img src="assets/actionbtn/game/indus.png" alt="Card Image">
      </div>
      <div class="pic-info-content">
     
        <button class="pic-info-button">Explore</button>
      </div>
    </div>
  </div>

</body>