<div class="background">
    <div class="wave"></div>
    <div class="container">
        <div class="card">
            <div class="icon player-icon"></div>
        </div>
        <div class="card">
            <div class="icon team-icon"></div>
        </div>
        <div class="card">
            <div class="icon register-icon"></div>
        </div>
        <div class="card">
            <div class="icon register-icon"></div>
        </div>
        <div class="card">
            <div class="icon register-icon"></div>
        </div>
        <div class="card">
            <div class="icon register-icon"></div>
        </div>
    </div>
</div>
