<div class="pagediv">    
    <div class="main-content">
      <div class="content-wrapper-info">
        <div class="logo-text">WELCOME TO [LOGO] [FF] </div>
        <div class="text">FIND A TEAM OR</div>
        <div class="text">RECRUIT PLAYER</div>
        <div class="text"> FOR YOUR TEAM</div>
        <div class="ind-text">India’s 1st Team Finding Platform</div>
        <div class="stats">
          <div class="stat">
            <div class="stat-num">123,456</div>
            <div class="stat-info">Players Onboard</div>
          </div>
          <div class="stat">
            <div class="stat-num">654,321</div>
            <div class="stat-info">Players Onboard</div>
          </div>
        </div>
        <div class="cta">
          <button class="premium-btn">Premium</button>
          <div class="logo-text">Basic Usage is Free</div>
        </div>
      </div>
    </div>
<!-- section for game lgkok -->
</div>